# Mail settings
SMTP_SERVER=smtp.example.com
SMTP_PORT=587
EMAIL_SENDER=your_sender@example.com
EMAIL_PASSWORD=your_smtp_password_or_app_password
EMAIL_RECEIVER=receiver1@example.com,receiver2@example.com

# Strategy runtime options
# true/false
ENABLE_MINUTE=false
